html{
    scroll-behavior: smooth;
}
body{
    font-family: "Lato", Sans-serif !important;
    background-color: #f6f6f6 !important;
    color: #858585 !important;
    font-weight: 600 !important;
}
h1,h2,h3,h4,h5 {
    font-family: "Verdana", Sans-serif !important;
}
header{
    background-color: #4054b2;
    margin-bottom: 69px;
}

/* index */
.color-4054b2{
    color: #4054b2 !important;
    font-family: "Verdana", Sans-serif !important;
}
.bg-4054b2-2{
    background-color: #4054b2;
    color: white;
}
.title-4054b2{
    font-weight: 600;
    padding-top: 20px ;
}
.hr-4054b2{
    border: 1.5px solid #4054b2;
    width: 50%;
    float: left;
    margin-top: -5px;
}
.hr-ffffff{
    border: 1.5px solid #ffffff;
    width: 50%;
    float: left;
    margin-top: -5px;
}
.index-list{
    margin-top: -6px !important;
}
.item-list{
    text-align: center;
    margin: auto;
    margin-top: 130px;
    color: #4054b2;
    list-style-type: none;
    font-weight: 800;
    font-family: "Verdana", Sans-serif !important;
}
.item-list-3{
    text-align: center;
    margin-top: 120px;
    color: #4054b2;
    list-style-type: none;
    font-weight: 800;
    font-family: "Verdana", Sans-serif !important;
    font-size: 40px;
}
.item-list-1{
    text-align: center;
    margin-top: 60px !important;
    margin: auto;
    color: #4054b2;
    list-style-type: none;
    font-weight: 800;
    font-family: "Verdana", Sans-serif !important;
}
.button-list{
    background-color: #4054b2;
    color: white;
    border-color: #4054b2;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-family: "Verdana", Sans-serif !important;
    font-size: 15px;
    font-weight: 700;
}
.button-list:hover{
    background-color: #6ec1e4;
    border-color: #6ec1e4;
    color: white;
}
.button-list-1{
    background-color: #4054b2;
    color: white;
    border-color: #4054b2;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-family: "Verdana", Sans-serif !important;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 30px;
}
.button-list-1:hover{
    background-color: #6ec1e4;
    border-color: #6ec1e4;
    color: white;
}
.item-list-2{
    text-align: center;
    margin: auto;
    color: #4054b2;
    list-style-type: none;
    font-weight: 800;
    font-family: "Verdana", Sans-serif !important;
}
.item-list-4{
    text-align: center;
    color: #4054b2;
    list-style-type: none;
    font-weight: 800;
    font-family: "Verdana", Sans-serif !important;
    font-size: 40px;
}

.flip-box {
    background-color: transparent;
    width: 100%;
    height: 250px;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.0s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
      background-color: white;
     color: black;
  }
  
  .flip-box-back {
    padding: 50px;
    background-color: #4054b2;
    color: white;
    transform: rotateX(180deg);
  }
.bt-white{
    background-color: white;
    color: #4054b2;
    border-radius: 5px;
    font-weight: 600;
    width: 100px;
    height: 40px;
}
.bt-white:hover{
    background-color: #6ec1e4;
    border-color: #6ec1e4;
    color: white;
}
.bt-white-1{
    background-color: white;
    color: #4054b2;
    border-radius: 5px;
    font-weight: 600;
    width: 200px;
    height: 40px;
}
.bt-white-1:hover{
    background-color: #6ec1e4;
    border-color: #6ec1e4;
    color: white;
}
li>a{
    font-family: "Verdana", Sans-serif;
    font-size: 15px;
    color: white!important;
    text-transform: uppercase;
    margin-right: 10px;
}
li>a:hover{
    color: #6ec1e4 !important;
    text-decoration: none;
}
.bg-4054b2{
    background-color: #4054b2 !important;
    color: white !important;
    border-color: white !important;
    font-family: "Verdana", Sans-serif;
}
.bg-4054b2:hover{
    background-color: #6ec1e4 !important;
}
.boder-white{
    border-color: white !important;
}
.pp-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.video{
    padding-left: -15px;
    padding-right: -15px;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.zoomIn {
    animation-name: zoomIn;
}
.fadeInright {
    -webkit-animation-name: fadeIn;
    animation-name: fadeInright;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spritespin{
    width: 570px!important;
    height: 380px !important;
}
/* hết index */

/* Mau-xe */
.hr-4054b2-3{
    border: 1.5px solid #4054b2;
    width: 40%;
}
.bg-gradient-4054b2{
    background-color: transparent;
    background-image: linear-gradient(30deg, #4054b2 50%, rgba(255,255,255,0) 0%);
    border-bottom: 2px solid #4054b2;
}
.button-detail{
    background-color: #4054b2;
    color: white;
    border-color: #4054b2;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-family: "Verdana", Sans-serif !important;
    font-size: 15px;
    font-weight: 700;
}
.button-detail:hover{
    background-color: #6ec1e4;
    border-color: #6ec1e4;
    color: white;
}
.bg-4054b2-2-2{
    background-color: #4054b2;
    color: white;
}
/* Tin tức */
.new{
    width:100%;
    height: 350px;
    position: relative;
}
.new>img{
    opacity: 0.8;
    filter:brightness(0.5);
}
.new-content{
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-weight: 600;
}
.new-content>h5:hover{
    color: #6ec1e4;
}
.new-1{
    width:100%;
    height: 170px;
    position: relative;
}
.new-1>img{
    opacity: 0.8;
    filter:brightness(0.5);
}
.new-content-1>h5:hover{
    color: #6ec1e4;
}
.new-content-1{
    position: absolute;
    top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-weight: 600;
}
.new-title{
    color: #4054b2;
    font-family: "Verdana", Sans-serif !important;
}
.button-new{
    background-color: #4054b2;
    color: white;
    border-color: #4054b2;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-family: "Verdana", Sans-serif !important;
    font-size: 15px;
    font-weight: 700;
}
.button-new:hover{
    background-color: #6ec1e4;
    border-color: #6ec1e4;
    color: white;
}
.hr-4054b2-2{
    border: 1.5px solid #4054b2;
    width: 100%;
    margin-top: -5px;
}

/* phu kien */
.list-group-item{
    background-color: #4054b2 !important;
    line-height: 0.5 !important;
    margin-top: 2px !important;
}
.item{
    width: 100%;
    margin-top: 10px;
}
.item-title{
    color: #4054b2;
    text-align: center;
    font-size: 17px;
    margin: 10px 10px 0px 10px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.item-content{
    color: #4054b2;
    text-align: center;
    margin-top: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#demo{
    font-family: Roboto;
    color: #de4848;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
}
.item-img{
    width:100%;
    align-items: center;
}
.item-price{
    color: #4054b2;
    text-align: center;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
}
.item-sale{
    color: #de4848;
    text-align: center;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -3px;
}
.item-button{
    background-color: #4054b2;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
}
.item-button:hover{
    background-color: #6ec1e4;
}
.box{
    background-color: white;
    border: 2px solid #4054b2;
    width:100%;
    height: 140;
}
.item-icon{
    color: #4054b2;
    font-size: 60px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* lien he */
.button-contact{
    background-color: #4054b2 !important;
    color: white !important;
    border-radius: 0 !important;
    font-family: "Verdana", Sans-serif !important;
    font-size: 15px;
    font-weight: 800 !important;
}
.button-contact:hover{
    background-color: #6ec1e4 !important;
    border-color: #6ec1e4;
    color: white;
}

/* login */

.text-login{
    font-size: 67px;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
}

/* detail */
.detail-title{
    color: white;
    background-color: #4054b2;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    padding: 10px 0px 10px 0px;
}
.detail-price{
    text-align: center;
    font-size: 18px;
}
.detail-ul{
    border: 1.5px solid #4054b2;
    border-radius: 10px;
    background-color: white;
}
.detail-li{
    list-style: none;
}
.detail-icon{
    font-size: 40px;
    max-width: 10px;
    color: #4054b2;
    margin-right: 10px;
    text-align: left;
}

/* cart */
.bg-gray{
    background-color: #f2f2f2;
}
/* detail-ne */
/* .bg-img{
    position: relative;
    background-image: url(../img/bg.png);
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

/* detail-car */
.color-white{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 800 !important;
    font-size: 18px;
}
.icon-add{
    color: white;
    font-size: 22px;
}
.navbar-toggler{
    border-color: #4054b2 !important;
}
.scroll-detail{
    width: 100%;
    height: 350px;
    overflow: auto;
  }
  /* .progress-bar {
    height: 8px;
    background: #4054b2;
    width: 0%;
  } */
/* Footer */
footer{
    background-color: rgba(45,41,40,0.8);
}
.footer-title{
    color: white;
}
.footer-content{
    color: white;
}
.map{
    padding-top: 10px;
}
#footer{
    background-color: rgba(0,0,0,0.8);
}
#myBtn {
    background-color: #4055b200;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 50px;
    border: none;
    outline: none;
    color: #4054b2;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
      color: #6ec1e4;
  }